
  <div class="row p-3" style=" cursor: pointer;" >
    <div class="col-2">
      <a href="/list">
      <img src="../../assets/img/arrow-left.png" width="25" style=" position: absolute; left: 10px;">
      <span style=" margin-left: 35px;">Go back</span>
      </a>
    </div>
  </div>
  <div class="row p-3" style=" padding-top: 0px !important">
    <div class="card col-12">
      <div class="card-body">
        <div class="row">
          <div class="icon d-flex align-items-start p-3">
            <img src="../../assets/img/68148.svg" alt="">
          </div>
          <div class="detail">
            <p class="p-1 m-0">
              {{item.name}}
            </p>
            <p class="p-1 m-0">
              Population: {{item.population}}
            </p>
            <p class="p-1">
              Diameter: {{item.diameter}}
            </p>
            <p class="p-1 m-0 sub-detail">
                Rotation period: {{item.rotation_period}}
            </p>
            <p class="p-1 m-0 sub-detail">
                Orbital period: {{item.orbital_period}}
            </p>
            <p class="p-1 m-0 sub-detail">
              Diameter: {{item.diameter}}
            </p>
            <p class="p-1 m-0 sub-detail">
                Climate: {{item.climate}}
            </p>
            
            <p class="p-1 m-0 sub-detail">
                Gravity: {{item.gravity}}
            </p>
            <p class="p-1 m-0 sub-detail">
                Terrain: {{item.terrain}}
            </p>
            <p class="p-1 m-0 sub-detail">
                Surface water: {{item.surface_water}}
            </p>
            <p class="p-1 m-0 sub-detail">
                Population: {{item.population}}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>