
  <div class="card mb-3 mt-3 d-flex flex-wrap" *ngFor="let item of list" (click)="detail(item)" style=" flex-direction: row;     cursor: pointer;">
    <div class="icon d-flex align-content-center p-3">
        <img src="../../assets/img/68148.svg" alt="">
    </div>
    <div class="detail">
      <p class="p-2 m-0">
        {{item.name}}
      </p>
      <p class="p-2 m-0">
        {{item.population}}
      </p>
      <p class="p-2 m-0">
        {{item.diameter}}
      </p>
    </div>
    <div style="position: absolute; right: 30px; top: 35%;">
      <img src="../../assets/img/arrow-right.png" alt="" width="40">
    </div>
  </div>
